In [9]:
import pandas as pd
import os

# Definir la ruta relativa al notebook
ruta_archivo = os.path.join('..', 'data', 'raw', 'owid-co2-data.csv')

# Verificar que el archivo exista
if not os.path.exists(ruta_archivo):
    raise FileNotFoundError(f"No se encontró el archivo en: {ruta_archivo}")

# Leer el CSV
df = pd.read_csv(ruta_archivo)

# Mostrar las primeras filas
df.head()

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1750,AFG,2802560.0,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1751,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1752,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1753,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1754,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
import pandas as pd

ruta_archivo = os.path.join('..', 'data', 'processed', 'owid_co2_processed.csv')

# Leer el CSV
df = pd.read_csv(ruta_archivo)

# Mostrar las primeras filas
df.head()

       country  year    co2  co2_per_capita           gdp
0  Afghanistan  2000  1.047           0.052  1.128379e+10
1  Afghanistan  2001  1.069           0.053  1.102127e+10
2  Afghanistan  2002  1.341           0.063  1.880487e+10
3  Afghanistan  2003  1.560           0.069  2.107434e+10
4  Afghanistan  2004  1.237           0.053  2.233257e+10